body{
    font-family:Arial, sans-serif;
    background: color #f3f3f3; ;
    margin:0 ;
    padding: 20px;
    text-align:center ;
}
h1{
    color: #333;
    margin-bottom: 20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat();
    gap: 15px;
    max-width: 90px;
    margin: auto;
}
.gallery img{ 
    width:10% ;
    height:28px ;
    object-fit: cover;
    border-radius:10px ;
    box-shadow: 0 2px 8px rgb(red, green, blue);

}
